<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<!--根记录器-->
		<root>
			<level value="OFF" />
		</root>

		<!--主日志logger-->
		<logger name="MainLogger">
			<level value="ALL" />
			<appender-ref ref="MainFileAppender" />
		</logger>

		<!--主日志Appender-->
		<appender name="MainFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--设置文件路径-->
			<param name="File" value="Logs\\MainProgram.log" />
			<!--设置是否向文件中追加日志-->
			<param name="AppendToFile" value="true" />
			<!--设置日志为混合滚动(日期 + 文件大小)-->
			<param name="RollingStyle" value="Composite" />
			<!--设置文件名称中的日期格式-->
			<param name="DatePattern" value="_yyyyMMdd" />
			<!--设置文件是否为静态文件-->
			<param name="StaticLogFileName" value="false" />
			<!--设置文件大小上限-->
			<param name="MaximumFileSize" value="10MB" />
			<!--设置文件总数上限-->
			<param name="MaxSizeRollBackups" value="30" />
			<!--设置是否保留文件后缀名称, 设置为true可以使文件后缀名称一直在最后面, 从而避免文件类型被改变-->
			<param name="PreserveLogFileNameExtension" value="true" />
			<!--设置加锁, 避免多线程访问冲突-->
			<param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
			<!--设置文件内容-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>